BASE_URL= "https://api.deepseek.com"
DEEPSEEK_API_KEY = "your api key"
# Qwen API Configuration
APP_ID=a947a47f
QWEN_API_KEY=cf9fe03690faee5d185fcd753052d652
API_SECRET=ZDE5ODRkNThmNTgwMWIzYjZlMDBlMGU1
SERVICE_ID="xsqwen2d53b"
PATCH_ID="1869819130578763776"