geopy==2.4.1
openai==1.35.13
PyPDF2
streamlit
streamlit_folium
folium
requests
geopandas
shapely
modelscope
transformers>=4.37.1
tokenizers==0.15.2
Flask==3.0.3
python-dotenv==1.0.1
waitress==3.0.0
dash-bootstrap-components
plotly
gunicorn
accelerate==0.23.0
faiss-cpu==1.8.0.post1
trl==0.9.6
einops==0.8.0
llama_index
transformers_stream_generator==0.0.5
llama_index-vector_stores-faiss==0.1.2
llama_index-embeddings-huggingface
llama-index-llms-openai-like

